.floated-label-wrapper {
    position: relative;
}

.floated-label-wrapper label {
    background: #fefefe;
    color: #1779ba;
    font-size: 0.75rem;
    font-weight: 600;
    left: 0.75rem;
    opacity: 0;
    padding: 0 0.25rem;
    position: absolute;
    top: 2rem;
    transition: all 0.15s ease-in;
    z-index: -1;

}
  
.floated-label-wrapper label input[type="text"],
.floated-label-wrapper label input[type="email"],
.floated-label-wrapper label input[type="password1"],
.floated-label-wrapper label input[type="password2"] {
    border-radius: 4px;
    font-size: 1.75em;
    padding: 0.5em;
}
  
.floated-label-wrapper label.show {
    opacity: 1;
    top: -0.85rem;
    z-index: 1;
    transition: all 0.15s ease-in;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.callout {
    border-radius: 8px;
}

label {
    text-align: left;
    color: #8a8a8a;
}

.helptext {
    display: none;
}

form > ul {
    display: none;
}

.thumbnail {
    box-shadow: none !important;
}

.banksystem {
    text-align: center;
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 0 20px 0;
}

.top-bar {
    padding: 20px 0 0 0;
}

.logout {
    text-align: right;
}
.logout-div {
    display: flex;
    justify-content: flex-start;
    padding: 20px 0 0 0;
}

.logout-div a {
    padding: 0 0 0 40px;
}

.column {
    padding-left: 0;
    padding-right: 0;
}

.callout {
    padding: 2rem;
}

.box li {
    list-style-type: none;
}

.options {
    font-style: italic;
    color: #636262;
}

.options-list {
    padding: 0 0 0 40px;
}

.balance-green {
    color: green;
    font-size: 25px;
}

.balance {
    padding: 0 0 0 20px;
}
textarea[rows] {
    height: 0;
}

.options-list li {
    padding: 10px 0 10px 0;
}
.account-name {
    font-size: 20px;
    font-style: italic;
    color: #8a8a8a;
}

.flex li {
    list-style-type: none;
}

.account-name-list {
    font-size: 20px;
    font-style: italic;
    color: #636262;
}

.show-balance {
    font-size: 20px;
    font-style: italic;
    color: #636262;
}

.show-balance-list {
    margin: 0 0 0 40px;
}