<html class="no-js" lang="en">
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Foundation | Welcome</title>
      <link
         rel="stylesheet"
         href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css" />
      <link rel="stylesheet" href="../../../static/style.css" />
   </head>
   <body>
      <!-- Navigation -->
      <div
         class="title-bar"
         data-responsive-toggle="realEstateMenu"
         data-hide-for="small"
         >
         <button class="menu-icon" type="button" data-toggle></button>
         <div class="title-bar-title">Menu</div>
      </div>
      <div class="top-bar" id="realEstateMenu">
         <div class="top-bar-left">
            <ul class="menu" data-responsive-menu="accordion">
               <li class="menu-text">BankSystem</li>
            </ul>
         </div>
         <div class="top-bar-right">
            <ul class="menu">
               <li><a href="{%url 'signup'%}">Register</a></li>
               <li><a href="{%url 'login'%}" class="button">Login</a></li>
            </ul>
         </div>
      </div>
      <!-- /Navigation -->
      <div class="callout large ">
         <div class="row column text-center">
            <h1>Revolutionizing Finance Through Innovation</h1>
            <p class="lead">
               Our commitment is to redefine the landscape of financial services by
               leveraging cutting-edge technology and innovative solutions. We
               strive to create a seamless and efficient banking experience for our
               customers, with a focus on transparency, security, and personalized
               service.
            </p>
            <a href="https://www.dkb.de/" target="_blank"  class="button large">Learn More</a>
            <a href="https://google.com/" target="_blank"  class="button large hollow">Learn Less</a>
         </div>
      </div>
      <div class="row">
         <div class="medium-6 columns medium-push-6">
            <img class="thumbnail" src="https://i.pinimg.com/564x/65/f9/5e/65f95eec442c807516d6390b615d6b2c.jpg" />
         </div>
         <div class="medium-6 columns medium-pull-6">
            <h2>Our financial institution, committed to excellence.</h2>
            <p>
               At our bank, we prioritize providing top-notch banking services that
               cater to your unique financial needs. Whether you're looking for
               seamless online transactions, personalized loan solutions, or expert
               investment advice, we've got you covered.
            </p>
         </div>
      </div>
      <div class="row">
         <div class="medium-4 columns">
            <h3>Online Banking</h3>
            <p>
               Experience the convenience of managing your finances anytime,
               anywhere. Our user-friendly online banking platform ensures secure
               access to your accounts, allowing you to check balances, transfer
               funds, and pay bills with just a few clicks.
            </p>
         </div>
         <div class="medium-4 columns">
            <h3>Financial Planning</h3>
            <p>
               Our team of seasoned financial advisors is dedicated to helping you
               achieve your long-term financial goals. From retirement planning to
               investment strategies, we offer personalized guidance to ensure your
               financial future is in capable hands.
            </p>
         </div>
         <div class="medium-4 columns">
            <h3>Loan Services</h3>
            <p>
               Need financial support for a major purchase? Explore our range of
               loan products tailored to suit your needs. Whether it's a home loan,
               auto loan, or personal loan, we strive to make the lending process
               straightforward and accessible.
            </p>
         </div>
      </div>
      <div class="row">
         <div class="medium-4 columns">
            <h3>Customer Satisfaction</h3>
            <p>
               We take pride in our commitment to customer satisfaction. Our friendly and knowledgeable staff is here to assist you with any inquiries or concerns you may have. Your financial success is our priority, and we are here to support you every step of the way.
            </p>
         </div>
         <div class="medium-4 columns">
            <h3>Innovative Banking Solutions</h3>
            <p>
               We understand that the financial industry is evolving rapidly. Our team of experts is dedicated to developing and implementing innovative banking solutions that cater to the diverse needs of our clients. 
            </p>
         </div>
         <div class="medium-4 columns">
            <h3>Explore a New Era in Banking</h3>
            <p>
               Embark on a journey with us as we explore the possibilities of a new era in banking. Discover the convenience of our digital banking platforms, designed to simplify your financial transactions. J
            </p>
         </div>
      </div>
      <hr />
      <div class="row column">
         <ul class="menu">
            <li class="banksystem"><a href="#">BankSystem {{current_date.year}}</a></li>
         </ul>
      </div>
      <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
      <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
      <script>
         $(document).foundation();
      </script>
   </body>
</html>
</html>